@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Roboto:wght@400;700&display=swap");
@layer base {
  html,
  body {
    font-family: "Open Sans", sans-serif;
    @apply antialiased;
  }
}
.ahmet {
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
}
.ahmet input {
  color: dodgerblue;
}
